.slideshow {
  display: flex; /* タイトルとスライド内容を横並びに */
  position: relative;
  overflow: hidden;
  gap: 20px; /* タイトルとスライドの間隔 */
  align-items: center; /* タイトルとスライドの縦方向を揃える */
  font-size: 90%;
}

.title {
  font-size: 1.3em;
  text-align: center;
  padding: 10px;
  flex: 0 0 auto; /* タイトルの幅を固定 */
}


@media screen and (max-width: 560px) {
  .slideshow {
    display: table;
    position: relative;
    overflow: hidden;
  }

  .title {
    width: 100%;
    text-align: left;
    font-size: 1.2em;
  }

  .title p {
    display: inline;
  }
}
/* :::::: slideContents :::::: */
.slideContents {
  display: flex; /* 横並びに配置 */
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  border: solid #999999;
  border-width:0px 0px 0px 1.5px;
  min-height: 90px;
}
.slideContents section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.slideContents section div {
  display: table;
  max-width: 100%;
  height: auto;
  padding: 0 20px;
  box-sizing: border-box;
  vertical-align: middle;
}

@media screen and (max-width: 560px) {
  .slideContents {
    display: flex; /* 横並びに配置 */
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    border:solid #999999 ;
    border-width:0px 0px 0px 0px;
  }

  .slideContents section {
    background-color: white;
    font-size: 90%;
    height: 90px;
    border-radius: 7px;
  }
}

/* :::::: mechanism :::::: */
.slideContents #slide1 {
  position: relative;
}
.slideContents section {
  animation: autoplay 24s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
@keyframes autoplay {
  from,
  to,
  25% {
    transform: none;
  }
  33.33% {
    transform: translateX(-100%);
  }
  33.334%,
  92% {
    transform: translateX(100%);
  }
}
.slideContents #slide1 {
  animation-delay: 0s;
}
.slideContents #slide2 {
  animation-delay: -16s;
}
.slideContents #slide3 {
  animation-delay: -8s;
}
